<h2>Edit Shoppinglistitems</h2>
<!-- editing shoppinglistitems  loop through the products and show the user name -->
<%= form_for @shoppinglistitem do |s| %>
  <p>
    List of Users
    <%= s.label :user_id %>
    <%= s.collection_select( :user_ids,@users, :id, :name, include_blank: true) %>
  </p>
  <br>
  <p>
    <!-- list sll the products -->
    List of Products
    <%= s.label :product_id %>
    <%= s.collection_select( :product_ids,@products, :id, :name, include_blank: true) %>
  </p>
  <br>
  <p>
    Quantity
  </p>

  <br>
  <%= s.submit class:"btn btn-success" %>
  <% end %>
