<h2>Edit Catogery</h2>
<!-- <form action="/categories/<%= @category.id %>" method="post"> -->
Name:
<input type="text" name="name" value="<%= @category.name %>">
<br>

<%= form_for @category do |f| %>
<p>List of Products

<!--  add style to my label and check boxes -->

  <div>
    <%= f.label "products", class:"bg-info" %>
    <%= f.collection_check_boxes :product_ids, Product.all, :id, :name, id:"blankCheckbox", value:"option1" do |p| %>

    <div>
      <%= p.check_box (class:"text-primary") %>
      <%= p.label %>
    </div>
    <% end %>
  </div>
</p>
<!-- add bootstap styles to button-->
<%= f.submit (class: "btn btn-success") %>
<% end %>
