<h2>Edit Catogery</h2>
<!-- <form action="/categories/<%= @category.id %>" method="post"> -->
Name:
<input type="text" name="name" value="<%= @category.name %>">
<br>

<%= form_for @category do |f| %>
  <p>List of Products
    <%= f.label :product_id %>
    <%= f.collection_select( :product_ids, @products, :id, :name, :multiple => true, :prompt => 'Select' ) %>

  </p>

  <%= f.submit %>
<% end %>
