<h2>Edit Catogery</h2>
<!-- <form action="/categories/<%= @category.id %>" method="post"> -->
Name:
<input type="text" name="name" value="<%= @category.name %>">
<br>

<%= form_for @category do |f| %>
<p>List of Products



  <div>
    <%= f.label "products" %>
    <%= f.collection_check_boxes :product_ids, Product.all, :id, :name do |p| %>

    <div>
      <%= p.check_box %>
      <%= p.label %>
    </div>
    <% end %>
  </div>
</p>

<%= f.submit class="btn btn-default" %>
<% end %>
